nav {
  width: 96.5%;
  display: flex;
  font-family: 'Karla';
  font-weight: bold;
  font-size: 1.5rem;
  align-items: center;
  height: 2rem;
  justify-content:space-between;
  text-decoration: none;
}
menu {
  width: 85%;
  display:flex;
  text-decoration: none;
  list-style:none;
  color:#495E57;
  justify-content:space-between;
  text-decoration: none;
}


.links {
  transition: color 0.2s ease 100ms;
  text-decoration: none;
  color: #333333;
}
.links:hover {
  color:#EE9972;
  cursor: pointer;
}

.App {
  background-color:#EDEFEE;
}
.App-container {
  display: grid;
  grid-template:
  "header nav nav" .3fr
  "main main main" auto
  "foot foot foot" .7fr/ .3fr 1fr auto;
  background-color:#fff;
}

.App-header {
  display: flex;
  grid-area: header;
  background-color: #EDEFEE;
  height: 3rem;
  padding: 1rem;
  justify-content: center;
}
.App-header > img {
  height: 3rem;
}
.App-nav{
  grid-area: nav;
  background-color: #EDEFEE;
  margin-left: auto;
  margin-right: auto;
  height: 3rem;
  padding: 1rem;

}

.App-main {
  grid-area: main;
  height: auto;
}

/*-------------- footer --------------*/
.App-foot {
  width: 100%;
  height: 8.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  grid-area: foot;
  display: grid;
  grid-template:
  "foot-logo foot-nav foot-contact foot-social" 1fr/ 0.1fr 0.2fr 0.1fr .6fr;
  background-color: #EDEFEE;
}
App-foot-logo {
  width: 5rem;
  grid-area: foot-logo;
  display:flex;
  height: auto;
}
.App-foot-logo img {
  min-width: 4rem;
  width: 5rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2rem;

}
.App-foot nav{
  grid-area: foot-nav;
  height: 8.5rem;
  width: 10rem;
}
.App-foot-ul {
  font-size: 1rem;
  flex-direction: column;
}

.App-foot-contact h2 {
  grid-area:foot-contact;
  line-height: 0.1;
}
.App-foot-social {
  grid-area: foot-social;
  display: block;
  justify-content:space-between;
  margin-left: auto;
  margin-right: auto;
}
.App-foot-social-ico{
  width: 4rem;
  padding: 1rem;
  transition: 0.2s ease;
}
.App-foot-social-ico:hover {
  filter: invert(0%) sepia(0%) saturate(6000%) hue-rotate(300deg) brightness(100%) contrast(112%);
  cursor: pointer;
}
.App-foot-social small {
  font-family: 'Karla';
  width: auto;
  text-align: center;
}

/*--------------------Hero Section ---------------*/
.Hero-container {
  display: grid;
  grid-template:
  "title photo" 3fr
  "white white" .1fr/ 1fr 1fr;
  background-color: #495E57;
}

.Hero-Title{
  grid-area: title;
  margin-left: 7rem;
}

.Hero-Lemon {
  color:#FeCE14;
  font-family: 'Markazi Text';
  font-weight:500;
  font-size:64pt;
  margin-top: 1rem;
  height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.Hero-Chicago {
  color:#EDEFEE;
  font-family: 'Markazi Text';
  font-weight:500;
  font-size:40pt;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
}
.Hero-Paragraph {
  color:#EDEFEE;
  font-family:'Karla';
  font-weight: 400;
  font-size:18pt;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
}

.App-button {
  color:#333333;
  background-color:#FeCE14;
  width: 10rem;
  height: auto;
  border-radius: 16px;
  font-family: 'Karla';
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 0.1rem;
  margin-bottom: 2rem;
}
.App-button:hover {
 background-color: #EE9972;
}

.Hero-photo {
  grid-area: photo;
}
.Hero-photo > img {
  position: absolute;
  width: 350px;
  border-radius: 16px;
  margin-top: 4.5rem;
}
.Hero-White {
  grid-area: white;
  height: 3.5rem;
  background-color: #fff
}

/*-------------------- Highlights --------------*/
.Hl-container {
  display: grid;
  grid-gap: 3rem;
  grid-template:
  '. hea1 hea1 hea2 .' .1fr
  '. con1 con2 con3 .' 1fr /1fr 1fr 1fr 1fr 1fr ;
  height: auto;
  margin-bottom: 1rem;
}
.Hl-container-head1 {
  grid-area: hea1;
  font-family: 'Markazi Text';
  font-weight: 400;
  font-size: 18pt;
  letter-spacing: 2px;
  margin-top: auto;
  margin-bottom: auto;
  color: #333333;
}
.Hl-container-head2 {
  grid-area: hea2;
  height: 3rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2rem;
}
.Hl-container-cont1 {
  grid-area: con1;

}
.Hl-container-cont2 {
  grid-area: con2;
}
.Hl-container-cont3 {
  grid-area: con3;
}
/*-------------------- Highlights data card --------------*/
.Hl-card-container{
  display: grid;
  grid-template:
  "photo photo" 0.3fr
  "Title price" 0.1fr
  "text text" auto
  "foot1 foot2" .1fr/ 1fr .5fr;
  background-color: #EDEFEE;
  height: auto;
  width: 12rem;
  border: solid 1px rgba(51, 51, 51, 0.1);
  border-radius: 8px 8px 0 0;
}

.Hl-card-photo{
  grid-area: photo;
  height: auto;
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.Hl-card-title{
  grid-area: Title;
  font-size: 12pt;
  text-align: center;
}
.Hl-card-price{
  grid-area: price;
  font-size: 12pt;
}
.Hl-card-text{
  grid-area: text;
  padding: 1rem;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 10pt;
  line-height: 10pt;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
.Hl-card-foot1{
  grid-area: foot1;
  padding: 1rem;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 10pt;
  line-height: 10pt;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.Hl-card-bike {
  grid-area: foot2;
  margin-left: .1rem;
  margin-top: auto;
  margin-bottom: auto;
}
/*-----------------------------Testimonials -------------------*/

.Testimonial-container {
  display: grid;
  grid-gap: 1rem 3rem;
  grid-template:
  '. hea1 hea1 hea1 .' .1fr
  '. con1 con2 con3 .' .9fr /1fr 1fr 1fr 1fr 1fr ;
  height: auto;
  margin-bottom: 1rem;
  background-color: #495E57;
  padding-bottom: 2rem;
}
.Testimonial-container-head {
  grid-area: hea1;
  font-family: 'Karla';
  letter-spacing: 1px;
  color:#FBDABB;
  font-weight:bolder;
  font-size: 20pt;
  margin-top: auto;
  margin-bottom: auto;
  margin-top: -1rem;
  margin-bottom: -2rem;
}
.Testimonial-container-cont1 {
  grid-area: con1;
}
.Testimonial-container-cont2 {
  grid-area: con2;
}
.Testimonial-container-cont3 {
  grid-area: con3;
}
/*-------------------- Testimonial data card --------------*/
.Testimonial-card-container{
  display: grid;
  grid-template:
  "stars" 0.5fr
  "photo" 3fr
  "text1" auto
  "name" .5fr
  "text2" auto/ 1fr;
  background-color:#EDEFEE;
  height: auto;
  width: 12rem;
  border: solid 1px rgba(51, 51, 51, .1);
  border-radius: 8px 8px 0 0;
}
.Testimonial-card-photo{
  grid-area: photo;
  height: auto;
  width: 100%;
  border-radius: 4px;
  height: 95%;
}
.Testimonial-card-photo-container{
  margin-left: auto;
  margin-right: auto;
}
.Testimonial-card-name{
  grid-area: name;
  font-size: 12pt;
  text-align: left;
  margin-left: 1rem;
}
.Testimonial-card-text1{
  grid-area: text1;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 10pt;
  line-height: 10pt;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
}
.Testimonial-card-text2{
  grid-area: text2;
  padding: 1rem;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 10pt;
  line-height: 10pt;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
.Testimonial-card-stars {
  grid-area: stars;
  margin-left: auto;
  margin-right: auto;
}
.Testimonial-stars{
  height: 2rem;
}

/* ------------------------ About --------------------------*/
.About-container{
  display: grid;
  grid-gap: 1rem 3rem;
  grid-template:
  '. hea1 hea1 hea1 .' .1fr
  '. con1 con2 con3 .' .9fr /1fr 1fr 1fr 1fr 1fr ;
  height: auto;
  background-image: url("/src/img/restaurant.jpg");
}
.About-description{
  background-color: #495E57;
}